body {
    font-family: Arial, Helvetica, sans-serif;
    background: #EDDCC8
;
}

#content {
    width: 600px;
    margin: 10px auto;
    padding: 5px 20px;
    background: #F0E6DB;
    border: 1px solid #000000;
    border-radius: 25px;
}

h1 {
	text-align: center;
    color: #75ACC0;
}

p {
	color: #B0A6A4;
	font-weight: bold;
	text-align: center;
}

label {
    display: block;
    width: 20em;
    text-align: right;
    padding-right: 1em;
    float: left;
}

input {
    display: block;
    float: left;
    width: 75px;
}

#futureValue {
    color: #000000;
}

br {
    clear: left;
}